@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
* {
  margin: 0;
  box-sizing: inherit;
}
body {
  font-family: 'Kanit', sans-serif;
  background-color: rgba(128, 128, 128, 0.3);
}
.p-20 {
  padding: 20px;
}
.m-1-auto {
  margin: 1rem auto;
}

.p-column-title {
  color: aqua;
}
.datatable td {
  background-color: white;
  border: none;
  border-radius: 5px;
  padding: 0.2rem;
}
